<%- include('../partials/header.ejs') %>

<div class="container">

    <h3><%= post.title %></h3>
    <p><%= post.message %> </p>
    <small><%=`Por ${post.User.name} em ${moment(post.createdAt).format('LLL')}`%> </small>
    <% if (post.allowComment) { %>
    <h5>Comente</h5>
        <form action="/blog/coment" method="post">
            <input type="hidden" name="idPost" value="<%=post.id%>">
            <input type="hidden" name="idUser" value="<%=userLogged.id%>">
            <div class="form-group">
                <textarea class="form-control" name="message" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-sm">Comentar</button>
        </form>

        <% if (nComents > 0) { %>
            <h4><%=`${nComents} comentários até o momento`  %></h4>
            <% post.Coments.forEach(coment => { %>
                <p><%=coment.message %> </p><small><%=`por ${coment.User.name}`%> </small>
            <% }) %>
        <% } else { %>
        <h4>Nenhum comentário até o momento</h4>
        <% } %>
    <% } else { %>
        <h5>Esta postagem não permite comentários</h5>
    <% } %>


    




</div>

<%- include('../partials/footer.ejs') %>